work/pythonPart/venvCovidDashboard
work/dictionary_of_data/
dict_1_Variable Name1.docx
dict_2_Variable Name1.docx

# ignoring 360 mb files: Confirmed positive cases of COVID19 in Ontario.csv & 1 Confirmed positive cases of COVID19 in Ontario.csv
data/1 Confirmed positive cases of COVID19 in Ontario.csv
raw_data/covid data/Confirmed positive cases of COVID19 in Ontario.csv
